# Add any directories, files, or patterns you don't want to be tracked by version control.
.git
.terraform
terraform/.terraform*
terraform.tfstate.d
code.zip
.env
.idea
tf-plan*
function/*
!function/aws_cloudformation_failure_notification.py
!function/requirements.txt
