# Add any directories, files, or patterns you don't want to be tracked by version control.
.git
.terraform
terraform/.terraform*
terraform.tfstate.d
.env
.idea
tf-plan*
function/*
!function/aws_alerts_lambda_function.py
!function/requirements.txt
